label{
    margin-top: 5px;
    margin-bottom: 0;
    color: black;
}
span{
    color: red;
}
textarea{
    resize: none;
    width: 300px;
    height: 200px;
}
.show_img{
    width: 200px; 
    height: 150px;
}
#img{
    display: block;
}
.error{
    color: red;
}
.date{
    width: 27%;
}
.select{
    width: 40%;
}
h2{
    color: black;
}
.weight_kg{
    color: black;
}