main{
    margin: 0px 10px 0px 10px;
}
.error{
    color: red;
}
textarea{
    resize: none;
    width: 300px;
    height: 200px;
}
span{
    color: red;
}
input[type="submit"] {
    display: inline-block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-top: 10px;
}
input[type="submit"]:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
label{
    margin-bottom: 0;
}