html{
    height: 100%;
}
body{
    height: 100%;
}
.split-box{
	position:absolute;
	width:50%;
	height:100%;
}
.left-box {
	left:0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.left-box::-webkit-scrollbar {
	display: none;
}
.right-box {
	right:0;
	overflow:scroll;
}
.right-box::-webkit-scrollbar {
	display: none;
}