html{
    height: 100%;
}
body{
    height: 100%;
}
.split-box{
	position:absolute;
	width:50%;
	height:100%;
}
.left-box {
	left:0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.left-box::-webkit-scrollbar {
	display: none;
}
.right-box {
	right:0;
	overflow:scroll;
}
.right-box::-webkit-scrollbar {
	display: none;
}
label{
	display: block;
	word-wrap: break-word;
	width: 70%;
}
textarea{
    resize: none;
    width: 50%;
    height: 60px;
}
.show_img{
    width: 200px; 
    height: 150px;
	display: block;
}